@{
    ViewData["Title"] = "About";
}

<section class="">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@ViewData["Title"] Us</h1>
            <p class="lead text-muted">We provide you with one of the best shopping experience you will ever have</p>
            <p class="lead text-muted">Great work requires great people, and we think ours are the best</p>
            <p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Shopping</a>
            </p>
        </div>
    </div>
</section>
<div class=" container py-5 bg-light">
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="~/Images/Michael (1).jpg" />
            <h2 class="fw-normal">Michael</h2>
            <p></p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="~/Images/jia.jpg"/>
            <h2 class="fw-normal">Jia</h2>
            <p></p>
        </div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="~/Images/yiyi.jpg" />
            <h2 class="fw-normal">Yiyi</h2>
            <p></p>
        </div>
    </div>
    
</div>