 
@model Dictionary<string, decimal>


<a class="text-white" asp-controller="ProductSales" asp-action="ShoppingCart">
    <i class="bi bi-cart"></i>
    <div>
        <div>@Model["ItemCount"] # Items</div>
        <div>@Model["TotalPrice"] $</div>
    </div>
</a>   




